.card {
  margin-top: 20px;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: #9DF7E5;
  background-color: #F2CFE0;
  text-shadow: 1px 1px 2px gray;
  padding: 20px;
}

.card h2 {
  font-weight: bold;
  margin: 20px 20px;
}

.card p {
  margin: 20px 20px;
}

.card img {
  height: 300px;
  margin-right: 16px;
  padding: 10px;
}

